apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: java-springboot-hello-4py0
  namespace: mreid-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/stonesoupuicluster/mreid-tenant/my-app-3/java-springboot-hello-4py0@sha256:ec6cf64925b74660897f9a8c865f1e3a591b8ff3048cb3b680b9349daf3d3d33
        name: my-java-springboot
        resources: {}
status: {}
